
ImageDB/匯入結構描述記錄/ImageDB_20140530041235.log

ImageDB/bin/Debug/ImageDB.dacpac

ImageDB/bin/Debug/ImageDB.dll

ImageDB/bin/Debug/ImageDB.pdb

ImageDB/obj/Debug/ImageDB.dll

ImageDB/obj/Debug/ImageDB.pdb

ImageDB/obj/Debug/ImageDB.sqlproj.FileListAbsolute.txt

ImageDB/obj/Debug/Model.xml

ImageService/bin/ImageService.dll

ImageService/bin/ImageService.pdb

ImageService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

ImageService/obj/Debug/ImageService.csproj.FileListAbsolute.txt

ImageService/obj/Debug/ImageService.csprojResolveAssemblyReference.cache

ImageService/obj/Debug/ImageService.dll

ImageService/obj/Debug/ImageService.pdb

ImageService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

ImageService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

ImageService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
